.scrollbar {
  background-color: #000000; }
  .scrollbar .navbar-brand {
    color: #fcfeff; }
    .scrollbar .navbar-brand:hover, .scrollbar .navbar-brand:focus {
      color: #d99232; }
  .scrollbar .navbar-text {
    color: #fcfeff; }
  .scrollbar .navbar-nav .nav-link {
    color: #fcfeff;
    border-radius: .25rem;
    margin: 0 0.25em; }
    .scrollbar .navbar-nav .nav-link:not(.disabled):hover, .scrollbar .navbar-nav .nav-link:not(.disabled):focus {
      color: #d99232; }
  .scrollbar .navbar-nav .dropdown-menu {
    background-color: #000000;
    border-color: #000000; }
    .scrollbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #fcfeff; }
      .scrollbar .navbar-nav .dropdown-menu .dropdown-item:hover, .scrollbar .navbar-nav .dropdown-menu .dropdown-item:focus, .scrollbar .navbar-nav .dropdown-menu .dropdown-item.active {
        color: #d99232;
        background-color: #000000; }
    .scrollbar .navbar-nav .dropdown-menu .dropdown-divider {
      border-top-color: #000000; }
  .scrollbar .navbar-nav .nav-item.active .nav-link, .scrollbar .navbar-nav .nav-item.active .nav-link:hover, .scrollbar .navbar-nav .nav-item.active .nav-link:focus, .scrollbar .navbar-nav .nav-item.show .nav-link, .scrollbar .navbar-nav .nav-item.show .nav-link:hover, .scrollbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #d99232;
    background-color: #000000; }
  .scrollbar .navbar-toggle {
    border-color: #000000; }
    .scrollbar .navbar-toggle:hover, .scrollbar .navbar-toggle:focus {
      background-color: #000000; }
    .scrollbar .navbar-toggle .navbar-toggler-icon {
      color: #fcfeff; }
  .scrollbar .navbar-collapse,
  .scrollbar .navbar-form {
    border-color: #fcfeff; }
  .scrollbar .navbar-link {
    color: #fcfeff; }
    .scrollbar .navbar-link:hover {
      color: #d99232; }

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fcfeff; }
    .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d99232; }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d99232;
    background-color: #000000; } }

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fcfeff; }
    .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d99232; }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d99232;
    background-color: #000000; } }

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fcfeff; }
    .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d99232; }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d99232;
    background-color: #000000; } }

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fcfeff; }
    .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d99232; }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d99232;
    background-color: #000000; } }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #fcfeff; }
  .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d99232; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #d99232;
  background-color: #000000; }
