@font-face {
  font-family: "bellico";
  src: url("../fonts/bellico/Bellico Demo Version.otf"); }

@font-face {
  font-family: "bunya-black";
  src: url("../fonts/bunya-personal/Bunya-Black_PERSONAL.ttf"); }

@font-face {
  font-family: "bunya-bold";
  src: url("../fonts/bunya-personal/Bunya-Bold_PERSONAL.ttf"); }

@font-face {
  font-family: "bunya-light";
  src: url("../fonts/bunya-personal/Bunya-Light_PERSONAL.ttf"); }

@font-face {
  font-family: "bunya-reguler";
  src: url("../fonts/bunya-personal/Bunya-Reguler_PERSONAL.ttf"); }

@font-face {
  font-family: "bunya-thin";
  src: url("../fonts/bunya-personal/Bunya-Thin_PERSONAL.ttf"); }

@font-face {
  font-family: "texgyre-bold";
  src: url("../fonts/texgyreadventor/texgyreadventor-bold.otf"); }

@font-face {
  font-family: "texgyre-bolditalic";
  src: url("../fonts/texgyreadventor/texgyreadventor-bolditalic.otf"); }

@font-face {
  font-family: "texgyre-italic";
  src: url("../fonts/texgyreadventor/texgyreadventor-italic.otf"); }

@font-face {
  font-family: "texgyre-reguler";
  src: url("../fonts/texgyreadventor/texgyreadventor-regular.otf"); }

@-webkit-keyframes bounce {
  0% {
    top: -60px; }
  100% {
    top: -80px; } }

@keyframes bounce {
  0% {
    top: -60px; }
  100% {
    top: -80px; } }

@keyframes bounce {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 20px; } }

/* Shim for extending Bootstrap classes, should not be needed in RL adaptations */
.col-12, .jeans-carousel .carousel-item > .carousel-item_inner {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 575px) {
  .col-md-6, .jeans-carousel .carousel-item > .carousel-item_inner {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 992px) {
  .col-lg-3, .jeans-carousel .carousel-item > .carousel-item_inner {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

/* Mixins */
/** 
 ** Initialize a Multi-Carousel
**/
.jeans-carousel .carousel-item.active, .jeans-carousel .carousel-item.carousel-item-next, .jeans-carousel .carousel-item.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.jeans-carousel .carousel-item.carousel-item-right.active, .jeans-carousel .carousel-item.carousel-item-next {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }

.jeans-carousel .carousel-item.carousel-item-left.active, .jeans-carousel .carousel-item.carousel-item-prev {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }

.jeans-carousel .carousel-item.carousel-item-right, .jeans-carousel .carousel-item.carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

@media (min-width: 768px) {
  .jeans-carousel .carousel-item.carousel-item-right.active, .jeans-carousel .carousel-item.carousel-item-next {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
  .jeans-carousel .carousel-item.carousel-item-left.active, .jeans-carousel .carousel-item.carousel-item-prev {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .jeans-carousel .carousel-item.carousel-item-right, .jeans-carousel .carousel-item.carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@media (min-width: 992px) {
  .jeans-carousel .carousel-item.carousel-item-right.active, .jeans-carousel .carousel-item.carousel-item-next {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%); }
  .jeans-carousel .carousel-item.carousel-item-left.active, .jeans-carousel .carousel-item.carousel-item-prev {
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); }
  .jeans-carousel .carousel-item.carousel-item-right, .jeans-carousel .carousel-item.carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.jeans-carousel .carousel-item > .carousel-item_inner {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/* Extra aesthetic styling */
.jeans-carousel {
  margin: 0 auto;
  width: 75vw; }
  .jeans-carousel .carousel-inner {
    height: inherit; }
  .jeans-carousel .carousel-item.active, .jeans-carousel .carousel-item.carousel-item-next, .jeans-carousel .carousel-item.carousel-item-prev {
    height: inherit; }
  .jeans-carousel .carousel-item_inner {
    height: inherit; }
  .jeans-carousel .carousel-item_content {
    color: #CCC;
    display: table;
    height: 100%;
    width: 100%; }
    .jeans-carousel .carousel-item_content > * {
      display: table-cell;
      text-align: center; }
  .jeans-carousel .carousel-control-prev, .jeans-carousel .carousel-control-next {
    /* Carousel Controls */
    opacity: 1 !important; }
    .jeans-carousel .carousel-control-prev:hover .carousel-item_icon, .jeans-carousel .carousel-control-next:hover .carousel-item_icon {
      color: #666; }
  .jeans-carousel .carousel-control-prev {
    left: -15%; }
  .jeans-carousel .carousel-control-next {
    right: -15%; }
  .jeans-carousel .carousel-item_icon {
    color: #BBB;
    cursor: pointer;
    font-size: 40px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }

.title {
  font-family: texgyre-bold;
  margin-bottom: 40px;
  color: #0050AC;
  text-align: center; }

#berita-all {
  margin-bottom: 50px; }

.berita-banner {
  display: block;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

#baca .card {
  border: none; }

#baca .card-header {
  background: none;
  border-bottom: 3px solid #F57E16;
  font-family: texgyre-bold; }
  #baca .card-header small {
    font-family: texgyre-reguler; }

#halaman-berita img {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  #halaman-berita img:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15); }

#halaman-berita .card {
  border: none;
  margin: 15px 0; }

#halaman-berita .card-text {
  height: 70px;
  overflow: hidden;
  -o-text-overflow: hidden;
  text-overflow: hidden; }

#halaman-berita .btn-primer {
  background: #F57E16;
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  #halaman-berita .btn-primer:hover {
    background: #0050AC;
    color: white; }

.sorting {
  padding: 30px 0;
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 30px; }

.search input, .search button {
  border-radius: 40px; }

.search input {
  border: 2px solid black; }

.search button {
  left: -2px;
  color: #F57E16;
  background: black;
  border: 2px solid black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .search button:hover {
    cursor: pointer;
    color: black;
    background: #F57E16;
    border: 2px solid #F57E16; }

.search i {
  -webkit-transform: translate(-2px);
  -ms-transform: translate(-2px);
  transform: translate(-2px); }

.modal-biro {
  background: rgba(0, 0, 0, 0.7); }
  .modal-biro .modal-header {
    border: none;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    background: #0050AC;
    color: white;
    font-family: texgyre-bold; }
  .modal-biro .modal-content {
    border: 2px solid #0050AC;
    background: white;
    color: black;
    border-radius: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1000px; }
    .modal-biro .modal-content table {
      width: 100%; }
    .modal-biro .modal-content th {
      font-family: texgyre-bold;
      padding: 10px; }
    .modal-biro .modal-content tr:nth-child(2n+0) {
      border-bottom: 1px solid #0050AC; }
    .modal-biro .modal-content td {
      font-family: texgyre-reguler;
      padding: 10px; }
    .modal-biro .modal-content h5 {
      font-family: texgyre-bold; }

.btn-modal {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: texgyre-bold;
  color: #0050AC;
  background: rgba(0, 80, 172, 0.5);
  border: 2px solid #0050AC;
  border-radius: 50px;
  width: 100px;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .btn-modal:hover {
    cursor: pointer;
    color: white;
    width: 120px;
    background: #0050AC; }

*:hover {
  text-decoration: none !important; }

#bankdata-header .col-md-9 {
  padding: 0; }

#bankdata-header .nav-item {
  color: #365B74;
  text-align: center;
  border-right: 1px solid #365B74; }
  #bankdata-header .nav-item:last-child {
    border-right: none; }
  #bankdata-header .nav-item:hover {
    color: #EF8036; }

.bankdata-search {
  padding-left: 0;
  padding-right: 80px; }
  .bankdata-search .input-group {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .bankdata-search .input-group input {
      border-radius: 20px;
      border: 2px solid #365B74; }
    .bankdata-search .input-group button {
      color: #EF8036;
      border: 2px solid #365B74;
      background: #365B74;
      position: relative;
      right: 1px;
      border-radius: 20px; }

#bd_tentang {
  position: relative;
  max-height: 450px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden; }
  #bd_tentang .tentang-bd {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 380px;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    bottom: 25px; }
  #bd_tentang .text {
    position: relative;
    padding: 5% 10%;
    top: 50px; }
    #bd_tentang .text h5 {
      color: #EF8036;
      margin-bottom: 20px; }
    #bd_tentang .text p {
      color: #263C4E; }

#jelajahi {
  color: #263C4E;
  padding: 2% 20%;
  text-align: center;
  font-family: texgyre-italic; }
  #jelajahi h4 {
    line-height: 35px; }

#kemahasiswaan {
  background: #E8F3F7;
  padding-bottom: 120px; }
  #kemahasiswaan .header {
    margin: 0 auto;
    width: 240px;
    background: #263C4E;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: texgyre-bold;
    margin-bottom: 70px;
    letter-spacing: 1px; }
  #kemahasiswaan .card-mhs {
    background: none;
    border: none; }
    #kemahasiswaan .card-mhs .card-title {
      color: #365B74;
      font-family: texgyre-bold; }
    #kemahasiswaan .card-mhs .card-text {
      padding: 0 5%;
      color: #263C4E;
      font-size: 14px;
      line-height: 1.5; }
  #kemahasiswaan .mhs-logo {
    position: relative;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #365B74;
    line-height: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #kemahasiswaan .mhs-logo img {
      position: absolute;
      width: 151px;
      height: 151px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    #kemahasiswaan .mhs-logo:hover {
      -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
      transform: scale(1.12);
      -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5); }

#pergerakan {
  padding-bottom: 120px; }
  #pergerakan .header {
    margin: 0 auto;
    width: 200px;
    background: #DA6F39;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: texgyre-bold;
    margin-bottom: 70px;
    letter-spacing: 1px; }
  #pergerakan .card-prg {
    background: none;
    border: none; }
    #pergerakan .card-prg .card-title {
      color: #EF8036;
      font-family: texgyre-bold; }
    #pergerakan .card-prg .card-text {
      padding: 0 5%;
      color: #365B74;
      font-size: 14px;
      line-height: 1.5; }
  #pergerakan .prg-logo {
    position: relative;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #EF8036;
    line-height: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #pergerakan .prg-logo img {
      position: absolute;
      width: 151px;
      height: 151px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    #pergerakan .prg-logo:hover {
      -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
      transform: scale(1.12);
      -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5); }

#survey {
  padding: 100px 0;
  background: #263C4E; }
  #survey .card {
    border: none;
    background: none; }
  #survey .card-header {
    background: none;
    color: #EF8036;
    border-bottom: 2px solid #EF8036; }
  #survey .card-footer {
    background: none; }
    #survey .card-footer a {
      color: #EF8036; }
      #survey .card-footer a i {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      #survey .card-footer a:hover i {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px); }
  #survey .survey {
    border-right: 2px dashed #EF8036;
    margin-bottom: 30px; }
    #survey .survey .list-group-item {
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      background: none;
      color: white;
      border-bottom: 1px dashed white;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #survey .survey .list-group-item i {
        float: right;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      #survey .survey .list-group-item:hover {
        color: #EF8036; }
        #survey .survey .list-group-item:hover i {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px); }
  #survey .database .card-header {
    margin-bottom: 10px; }
  #survey .database .card-block {
    color: white; }
  #survey .database .logo {
    margin: 10px;
    text-align: center;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 0;
    border: 3px solid #EF8036; }
    #survey .database .logo i {
      position: relative;
      top: 10px;
      left: 1px;
      color: #EF8036; }
  #survey .database h5 {
    position: relative;
    top: 25px; }
  #survey .database .list-group-item {
    background: none;
    color: white;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

#foot-bd {
  color: #263C4E; }
  #foot-bd .ongoing {
    padding: 30px 5%;
    width: 100%;
    background: #E8F3F7; }
    #foot-bd .ongoing a {
      color: #263C4E; }
      #foot-bd .ongoing a:hover {
        -webkit-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px); }
    #foot-bd .ongoing li {
      border-bottom: 1px dashed gray; }
    #foot-bd .ongoing .card {
      background: none;
      border: none; }
    #foot-bd .ongoing .card-header {
      background: none;
      color: #263C4E;
      border-bottom: 2px solid #263C4E; }
    #foot-bd .ongoing .list-group-item {
      background: none;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
  #foot-bd .kebijakan {
    display: block;
    padding: 40px 5%; }
    #foot-bd .kebijakan h5 {
      text-align: center; }
    #foot-bd .kebijakan li {
      margin-top: 10px; }
  #foot-bd .col-md-3 {
    -webkit-box-shadow: -6px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: -6px 0px 12px rgba(0, 0, 0, 0.2); }
  #foot-bd .kontak {
    display: block;
    padding: 40px 0; }
    #foot-bd .kontak h5 {
      text-align: center; }
    #foot-bd .kontak p {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

#bankdata-head .header {
  background: #263C4E;
  margin-bottom: 50px;
  padding: 1% 2%;
  -webkit-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.2); }
  #bankdata-head .header input, #bankdata-head .header select {
    border: none;
    border-radius: 5px;
    background: #365B74;
    color: white;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    #bankdata-head .header input:focus, #bankdata-head .header select:focus {
      background: white;
      color: black; }
  #bankdata-head .header button {
    border: none;
    background: #365B74;
    color: #E8F3F7;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #bankdata-head .header button:hover {
      cursor: pointer;
      background: #E8F3F7;
      color: #263C4E; }

.table-data {
  border: none; }
  .table-data .card-header {
    background: #E8F3F7;
    color: #263C4E;
    font-family: texgyre-bold; }
  .table-data .card-body {
    border: none; }
  .table-data table {
    width: 100%; }
  .table-data tr:first-child {
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }
  .table-data th {
    background: #365B74;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #263C4E; }
  .table-data td {
    background: #E8F3F7;
    padding: 5px 10px;
    border: 1px solid #263C4E; }

ul.pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

ul.pagination li {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  background: #E6E7E8;
  padding: 18px;
  line-height: 0; }

ul.pagination li a {
  color: black;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

ul.pagination li.active {
  /*background-color: #4CAF50;*/
  background-color: black;
  color: orange; }

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {
  color: orange; }

ul.pagination li.disabled {
  /*background-color: #cccccc;*/
  color: #D2D3D5; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 12px;
  background-color: #0050AC; }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0050AC; }

.center-justified {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  margin: 0 auto; }

.navbar-brand {
  margin-left: 100px; }
  .navbar-brand img {
    height: 50px;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.navbar-nav {
  margin-right: 100px;
  text-align: center; }
  .navbar-nav .nav-item {
    width: 100px;
    color: #F57E16; }
    .navbar-nav .nav-item a {
      color: white;
      text-decoration: none;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .navbar-nav .nav-item a:hover {
        color: #F57E16; }

.navbar {
  height: 80px;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

.shrink {
  background: black;
  height: 60px; }
  .shrink .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9); }

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .active {
  opacity: 1; }

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-control {
  z-index: 2; }

.carousel {
  height: 660px;
  position: relative; }
  .carousel .bg-carousel {
    background: rgba(0, 0, 0, 0.6);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+16,000000+51,2989d8+100,207cca+100&0.7+0,0.7+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 16%, rgba(0, 0, 0, 0.7) 51%, rgba(32, 124, 202, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 16%, rgba(0, 0, 0, 0.7) 51%, rgba(32, 124, 202, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(16%, rgba(0, 0, 0, 0.7)), color-stop(51%, rgba(0, 0, 0, 0.7)), to(rgba(32, 124, 202, 0.7)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 16%, rgba(0, 0, 0, 0.7) 51%, rgba(32, 124, 202, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 16%, rgba(0, 0, 0, 0.7) 51%, rgba(32, 124, 202, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3207cca',GradientType=0 );
    /* IE6-9 */
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%; }
  .carousel h1 {
    font-family: texgyre-bold;
    font-size: 60px;
    color: #F57E16;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px; }
  .carousel p {
    font-family: texgyre-bold;
    font-size: 80px;
    color: #F57E16;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 250px; }
  .carousel img {
    width: 100%;
    height: inherit; }
  .carousel .kenali {
    color: #F57E16;
    z-index: 3;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 370px; }
  .carousel button {
    padding: 20px;
    width: 250px;
    line-height: 0;
    border-radius: 50px;
    background: none;
    font-family: texgyre-bold;
    color: #F57E16;
    border: 3px solid #F57E16;
    -webkit-transition: 1s, width 0.4s;
    -o-transition: 1s, width 0.4s;
    transition: 1s, width 0.4s; }
    .carousel button:hover {
      cursor: pointer;
      background: #F57E16;
      color: white;
      width: 300px; }
  .carousel i {
    -webkit-animation: bounce 0.6s ease-in alternate infinite;
    animation: bounce 0.6s ease-in alternate infinite; }
  .carousel .carousel-item {
    position: relative;
    height: 660px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

#tentang {
  padding-top: 50px; }

.visi {
  margin: 40px 0;
  border: none; }
  .visi .card-header {
    background: none;
    font-family: bellico;
    letter-spacing: 2px;
    padding: 0;
    margin-bottom: -20px;
    border: none; }

.misi {
  border: none; }
  .misi .card-header {
    background: none;
    font-family: bellico;
    letter-spacing: 2px;
    padding: 0;
    margin-bottom: -20px;
    border: none; }
  .misi li {
    margin-bottom: 20px;
    line-height: 1.5em; }

#kami {
  border: none; }
  #kami img {
    margin-right: 20px;
    width: 360px;
    float: left; }
  #kami .card-header {
    color: #F57E16;
    padding: 0;
    font-family: texgyre-bold;
    background: none;
    border-bottom: 4px solid #F57E16; }

#berita {
  border: none; }
  #berita .card-header {
    color: #0050AC;
    padding: 0;
    font-family: texgyre-bold;
    background: none;
    border-bottom: 4px solid #0050AC; }
  #berita .card-footer {
    background: none; }
    #berita .card-footer a {
      font-family: texgyre-bold;
      font-size: 18px;
      color: #F57E16;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      #berita .card-footer a:hover {
        text-decoration: none;
        color: #0050AC; }

#filosofi {
  position: relative;
  border: none;
  margin-top: 30px; }
  #filosofi .card-header {
    width: 200px;
    text-align: center;
    border: none;
    position: absolute;
    padding: 5px;
    font-family: texgyre-bold;
    background: #0050AC;
    color: white;
    margin: auto;
    top: -10px;
    border-radius: 50px; }

#konten {
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative; }
  #konten:nth-child(1) {
    margin-top: 0px; }
  #konten img {
    width: 100%;
    height: 250px; }
  #konten .card-date {
    position: absolute;
    top: 180px;
    font-family: texgyre-reguler;
    font-size: 12px;
    padding: 3px 10px;
    color: white;
    background: #F57E16; }
  #konten .card-title {
    position: absolute;
    top: 204px;
    font-family: texgyre-bold;
    width: 100%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 10px 4px;
    background: rgba(255, 255, 255, 0.7); }
  #konten .card-text {
    font-size: 14px;
    height: 105px;
    overflow: hidden;
    -o-text-overflow: hidden;
    text-overflow: hidden; }
  #konten a {
    color: #0050AC;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-family: texgyre-bold; }
    #konten a:hover {
      text-decoration: none;
      color: #F57E16; }

#program {
  margin: 50px 0; }

.program {
  border: none;
  margin: 0 30px; }
  .program img {
    height: 165px;
    width: 165px; }
  .program .card-title, .program .card-text {
    color: black; }
  .program .card-title {
    margin-top: 10px;
    font-family: texgyre-bold;
    font-size: 17px; }
  .program .card-text {
    position: relative;
    top: 0px;
    font-family: texgyre-reguler;
    font-size: 12px; }

#struktur {
  margin-bottom: 1px; }
  #struktur .card {
    border: none; }
  #struktur .container-fluid {
    padding: 0; }
  #struktur .card-header {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 300px;
    border-radius: 50px;
    background: #F57E16;
    color: white; }
    #struktur .card-header h4 {
      font-family: texgyre-bold; }
  #struktur .card-body {
    padding: 0;
    overflow: auto; }
  #struktur .card-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #F5F5F5; }
  #struktur .card-body::-webkit-scrollbar {
    height: 10px;
    background-color: none; }
  #struktur .card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0050AC; }
  #struktur img {
    width: 100%;
    min-width: 1200px;
    height: 660px;
    overflow: auto; }

#kegiatan {
  width: 100%;
  margin: -1px; }
  #kegiatan .col-lg-4 {
    background: #f9f9f9;
    -webkit-box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.2); }
  #kegiatan .kegiatan {
    border: none; }
    #kegiatan .kegiatan .card-header {
      padding-top: 50px;
      color: #F57E16;
      text-align: center;
      background: #f9f9f9;
      border-bottom: 4px solid #F57E16; }
    #kegiatan .kegiatan .card-body {
      background: #f9f9f9; }
  #kegiatan .kementrian .card-header {
    margin-top: 50px;
    color: #0050AC;
    padding: 5px;
    font-family: texgyre-bold;
    text-align: center;
    background: none;
    border-bottom: 4px solid #0050AC; }
  #kegiatan .biro {
    border: none;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 22.75%;
    margin-bottom: 30px; }
    #kegiatan .biro:nth-child(4n) {
      margin-right: 0; }
    #kegiatan .biro .card-title, #kegiatan .biro .card-text {
      text-align: center; }
    #kegiatan .biro .card-title {
      margin-top: -20px;
      font-family: texgyre-bold;
      font-size: 17px;
      min-height: 70px; }
    #kegiatan .biro .card-footer {
      background: none; }
    #kegiatan .biro img {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); }

#portal-data {
  margin-top: 1px;
  padding: 2% 10%;
  background: black; }
  #portal-data .card {
    background: black;
    border: none; }
  #portal-data img {
    float: right;
    width: 120px; }
  #portal-data h4 {
    color: #F57E16;
    font-family: texgyre-bold; }
  #portal-data p {
    font-family: texgyre-reguler;
    color: white;
    font-size: 16px; }
  #portal-data a {
    margin-top: -5px; }
  #portal-data .btn-data {
    font-family: texgyre-bold;
    border-radius: 50px;
    border: 2px solid #F57E16;
    background: rgba(245, 126, 22, 0.1);
    color: #F57E16;
    width: 120px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #portal-data .btn-data:hover {
      width: 140px;
      color: white;
      background: #F57E16; }

#hubungi {
  position: relative;
  width: 100%;
  min-height: 550px;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; }
  #hubungi .bg-hub {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    min-height: inherit;
    width: 100%;
    overflow: hidden; }
  #hubungi .hubungi {
    padding: 50px; }
  #hubungi h4 {
    font-family: texgyre-bold;
    text-align: center;
    color: white; }
  #hubungi form {
    color: white; }
  #hubungi button {
    float: right; }
  #hubungi .btn-primer {
    width: 25%;
    padding: 10px;
    background: #F57E16;
    color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #hubungi .btn-primer:hover {
      cursor: pointer;
      background-color: #0050AC; }
  #hubungi .sosmed {
    padding-right: 30px;
    padding-top: 50px; }
  #hubungi .alamat {
    margin-bottom: -10px;
    color: white; }
    #hubungi .alamat .col-11 {
      margin-left: -7px; }
    #hubungi .alamat p {
      margin-top: 5px; }

.media ul {
  list-style-type: none;
  margin-top: 30px;
  margin-left: -40px; }

.media li {
  display: inline-block;
  margin-right: 10px; }

.media i {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.media .fb {
  padding: 10px;
  width: 40px;
  line-height: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #3b5998;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .media .fb:hover {
    background: #3b5998;
    color: white; }

.media .tw {
  padding: 10px;
  width: 40px;
  line-height: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #1dcaff;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .media .tw:hover {
    background: #1dcaff;
    color: white; }

.media .ig {
  padding: 10px;
  width: 40px;
  line-height: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #8a3ab9;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .media .ig:hover {
    background: #8a3ab9;
    color: white; }

.media .yt {
  padding: 10px;
  width: 40px;
  line-height: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #cc181e;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .media .yt:hover {
    background: #cc181e;
    color: white; }

.logo-foot {
  position: absolute;
  left: 10px;
  bottom: 10px; }
  .logo-foot img {
    width: 25%; }

.footer {
  padding: 5px;
  background: black;
  overflow-x: hidden; }
  .footer p {
    float: right;
    margin: 1%; }

.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 12px;
  border-radius: 20px;
  line-height: 0;
  background: #0050AC;
  color: white; }
  .scrollUp i {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }

.kritik-popup .modal-content {
  top: 30px;
  border: 3px solid #F57E16;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #F57E16; }

.kritik-popup .modal-body {
  font-family: bunya-bold;
  text-align: center; }

@media (max-width: 1199px) {
  .modal-biro .modal-content {
    width: 900px; } }

@media (max-width: 991px) {
  #kami img {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    float: none; }
  .navbar-brand {
    margin-left: 50px; }
  .navbar-nav {
    margin-right: 50px; }
  .modal-biro .modal-content {
    width: 760px; }
  .bankdata-search {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px; }
    .bankdata-search .input-group {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }

@media (max-width: 767px) {
  .navbar-brand {
    margin: 0; }
  .navbar-nav {
    text-align: left; }
    .navbar-nav .nav-item {
      margin: 5px;
      padding: 10px;
      border-radius: 10px;
      color: #F57E16; }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8); }
  #bankdata-header .nav-item {
    color: #EF8036; }
  .carousel h1 {
    font-size: 55px;
    position: absolute;
    top: 200px; }
  .carousel p {
    font-size: 60px;
    position: absolute;
    top: 260px; }
  .carousel .kenali {
    position: absolute;
    top: 360px; }
  .carousel button {
    padding: 20px;
    width: 250px; }
    .carousel button:hover {
      cursor: pointer;
      background: #F57E16;
      color: white;
      width: 300px; }
  #kegiatan .biro {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 32%; }
    #kegiatan .biro:nth-child(3n) {
      margin-right: 0; }
    #kegiatan .biro img {
      padding: 25px; }
  #hubungi {
    position: relative;
    width: 100%;
    min-height: 1100px; }
    #hubungi .sosmed {
      padding: 30px; }
  #bankdata-header .col-md-9 {
    padding: 0 10px; }
  .bankdata-search {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px; }
    .bankdata-search .input-group {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  #jelajahi {
    padding: 2% 2%; }
    #jelajahi h4 {
      line-height: 35px;
      font-size: 20px; }
  .modal-biro .modal-content {
    width: 560px; }
  #kemahasiswaan .card-text {
    margin-bottom: 50px; }
  #pergerakan .card-text {
    margin-bottom: 50px; } }

@media (max-width: 575px) {
  .navbar-nav {
    text-align: left; }
    .navbar-nav .nav-item {
      margin: 5px;
      padding: 10px;
      border-radius: 10px;
      color: #F57E16; }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8); }
  #JeansCarousel {
    height: 600px; }
  .carousel h1 {
    font-size: 40px;
    position: absolute;
    top: 200px; }
  .carousel p {
    font-size: 45px;
    position: absolute;
    top: 250px; }
  .carousel .kenali {
    position: absolute;
    top: 340px; }
  .carousel button {
    padding: 20px;
    width: 250px; }
    .carousel button:hover {
      cursor: pointer;
      background: #F57E16;
      color: white;
      width: 300px; }
  #kegiatan .biro {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 49.5%; }
    #kegiatan .biro:nth-child(2n) {
      margin-right: 0; }
    #kegiatan .biro img {
      padding: 25px; }
  #hubungi {
    position: relative;
    width: 100%;
    min-height: 1100px; }
    #hubungi .sosmed {
      padding: 30px; }
  .modal-biro .modal-content {
    width: 400px; }
  #survey .survey {
    border-right: none;
    margin-bottom: 30px; } }

@media (max-width: 510px) {
  #bd_tentang {
    position: relative;
    max-height: 0px;
    min-height: 500px;
    overflow: hidden; }
    #bd_tentang .tentang-bd {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: inherit;
      border-radius: 0px;
      background: rgba(0, 0, 0, 0.8);
      margin: 0 auto;
      bottom: 0px; }
    #bd_tentang .text {
      position: relative;
      padding: 5% 5%;
      top: 0px; }
      #bd_tentang .text h5 {
        color: #EF8036;
        margin-bottom: 20px; }
      #bd_tentang .text p {
        color: white; } }

@media (max-width: 410px) {
  .carousel h1 {
    font-size: 25px;
    position: absolute;
    top: 250px; }
  .carousel p {
    font-size: 30px;
    position: absolute;
    top: 280px; }
  .carousel button {
    padding: 17px;
    width: 220px; }
    .carousel button:hover {
      cursor: pointer;
      background: #F57E16;
      color: white;
      width: 250px; }
  .modal-biro .modal-content {
    width: 300px; } }
