*:hover{
	text-decoration: none !important;
}


#bankdata-header{
	.col-md-9{
		padding: 0;
	}
	.nav-item{
		color: $bd_color2;
		text-align: center;
		border-right: 1px solid $bd_color2;
		&:last-child{
			border-right: none;
		}
		&:hover{
			color: $bd_color1;
		}
	}
}

.bankdata-search{
	padding-left: 0;
	padding-right: 80px;
	.input-group{
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  		input{
  			border-radius: 20px;
  			border: 2px solid $bd_color2;
  		}
  		button{
  			color: $bd_color1;
  			border: 2px solid $bd_color2;
  			background: $bd_color2;
  			position: relative;
  			right: 1px;
  			border-radius: 20px;
  		}
	}
}

#bd_tentang{
	position: relative;
	max-height: 450px;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	.tentang-bd{
		position: relative;
		width: 500px;
		height: 500px;
		border-radius: 380px;
		background: rgba(255,255,255,0.8);
		margin: 0 auto;
		bottom: 25px;
	}
	.text{
		h5{
			color: $bd_color1;
			margin-bottom: 20px;
		}
		p{
			color: $bd_color4;
		}
		position: relative;
		padding: 5% 10%;
		top: 50px;
	}
}

#jelajahi{
	color: $bd_color4;
	padding: 2% 20%;
	text-align: center;
	font-family: $textitalic;
	h4{
		line-height: 35px;
	}
}

#kemahasiswaan{
	background: $bd_color3;
	padding-bottom: 120px;
	.header{
		margin: 0 auto;
		width: 240px;
		background: $bd_color4;
		color: white;
		text-align: center;
		padding: 10px 0;
		font-family: $textbold;
		margin-bottom: 70px;
		letter-spacing: 1px;
	}
	.card-mhs{
		background: none;
		border: none;
		.card-title{
			color: $bd_color2;
			font-family: $textbold;
		}
		.card-text{
			padding: 0 5%;
			color: $bd_color4;
			font-size: 14px;
			line-height: 1.5;
		}
	}
	.mhs-logo{
		position: relative;
		margin: auto;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background: $bd_color2;
		line-height: 0;
		margin-bottom: 20px;
		box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);
		transition: 0.5s;
		img{
			position: absolute;
			width: 151px;
			height: 151px;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	&:hover{
		transform: scale(1.12);
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	}
	}
}

#pergerakan{
	padding-bottom: 120px;
	.header{
		margin: 0 auto;
		width: 200px;
		background: $bd_color5;
		color: white;
		text-align: center;
		padding: 10px 0;
		font-family: $textbold;
		margin-bottom: 70px;
		letter-spacing: 1px;
	}
	.card-prg{
		background: none;
		border: none;
		.card-title{
			color: $bd_color1;
			font-family: $textbold;
		}
		.card-text{
			padding: 0 5%;
			color: $bd_color2;
			font-size: 14px;
			line-height: 1.5;
		}
	}
	.prg-logo{
		position: relative;
		margin: auto;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background: $bd_color1;
		line-height: 0;
		margin-bottom: 20px;
		box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);
		transition: 0.5s;
		img{
			position: absolute;
			width: 151px;
			height: 151px;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		&:hover{
		transform: scale(1.12);
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	}
	}
}

#survey{
	padding: 100px 0;
	background: $bd_color4;
	.card{
			border: none;
			background: none;
		}
		.card-header{
			background: none;
			color: $bd_color1;
			border-bottom: 2px solid $bd_color1;
		}
		.card-footer{
			background: none;
			a{
				color: $bd_color1;
				i{
					transition: 0.3s;
				}
				&:hover{
				i{
				transform: translateX(10px);}
			}	
			}
		}
	.survey{
		border-right: 2px dashed $bd_color1;
		margin-bottom: 30px;
		.list-group-item{
			overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
			background: none;
			color: white;
			border-bottom: 1px dashed white;
			transition: 0.2s;
			i{
				float: right;
				transition: 0.3s;
			}
			&:hover{
				color: $bd_color1;
				i{
				transform: translateX(20px);}
			}
		} 
	}

	.database{
		.card-header{
			margin-bottom: 10px;
		}
		.card-block{
			color: white;
		}
		.logo{
			margin: 10px;
			text-align: center;
			float: left;
			width: 60px;
			height: 60px;
			border-radius: 60px;
			line-height: 0;
			border: 3px solid $bd_color1;
			i{
				position: relative;
				top: 10px;
				left: 1px;
				color: $bd_color1;
			}
		}
		h5{
			position: relative;
			top: 25px;
		}
		.list-group-item{
			background: none;
			color: white;
			transition: 0.2s;
		}
	}
}

#foot-bd{
	 color: $bd_color4;
	.ongoing{
		padding: 30px 5%;
		width: 100%;
		background: $bd_color3;
		a{
			color: $bd_color4;
			&:hover{
				transform: translateX(8px);
			}
		}
		li{
			border-bottom: 1px dashed gray;
		}
		.card{
			background: none;
			border: none;
		}
		.card-header{
			background: none;
			color: $bd_color4;
			border-bottom: 2px solid $bd_color4;
		}
		.list-group-item{
			background: none;
			transition: 0.2s;
		}
	}
	.kebijakan{
		display: block;
		padding: 40px 5%;
  		h5{
  			text-align: center;
  		}
  		li{
  			margin-top: 10px;
  		}
	}
	.col-md-3{
		box-shadow: -6px 0px 12px rgba(0, 0, 0, 0.2);
	}
	.kontak{
		display: block;
		padding: 40px 0;
		h5{
  			text-align: center;
  		}
		p{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}