#bankdata-head{
	.header{
		background: $bd_color4;
		margin-bottom: 50px;
		padding: 1% 2%;
		box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.2);
		input, select{
		border: none;
		border-radius: 5px;
		background: $bd_color2;
		color: white;
		transition: 0.2s;
		&:focus{
			background: white;
			color: black;
		}
		}

		button{
			border: none;
			background: $bd_color2;
			color: $bd_color3;
			border-radius: 50%;
			transition: 0.5s;
			&:hover{
			cursor: pointer;
			background: $bd_color3;
			color: $bd_color4;
			}
		}
	}
}


.table-data{
	border: none;
	.card-header{
		background: $bd_color3;
		color: $bd_color4;
		font-family: $textbold;	
	}
	.card-body{
		border: none;
	}
	table{
		width: 100%;
	}
	tr:first-child{
		box-shadow: 0px 4px 8px rgba(0,0,0,0.4); 
	}
	th{
		background: $bd_color2;
		color: $color;
		text-align: center;
		padding: 10px;
		border: 1px solid $bd_color4;
	}
	td{
		background: $bd_color3;
		padding: 5px 10px;
		border: 1px solid $bd_color4;
	}
}