#berita-all{
	margin-bottom: 50px;
}

.berita-banner{
	display: block;
	height: 200px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#baca{
	.card{
		border: none;
	}
	.card-header{
		background: none;
		border-bottom: 3px solid $color2;
		font-family: $textbold;
		small{
			font-family: $text;
		}
	}
}

#halaman-berita{
	img{
		transition: 0.4s;
	&:hover{
		transform: scale(1.15);}
	}
	.card{
		border: none;
		margin: 15px 0;
	}
	.card-text{
		height: 70px;
		overflow: hidden;
		text-overflow: hidden;
	}
	.btn-primer{
		background: $color2;
		color: $color;
		transition: 0.3s;
		&:hover{
			background: $color1;
			color: $color;
		}
	}
}

.sorting{
	padding: 30px 0;
	border-bottom: 2px solid #f1f1f1;
	margin-bottom: 30px;
}

.search{
	input, button{
		border-radius: 40px;
	}
	input{
		border: 2px solid black; 
	}
	button{
		left: -2px;
		color: $color2;
		background: black;
		border: 2px solid black;
		transition: 0.3s;
		&:hover{
		cursor: pointer;	
		color: black;
		background: $color2;
		border: 2px solid $color2;	
		}
	}
	i{
		transform: translate(-2px);
	}
}