
//Bellico
@font-face {
         font-family: "bellico";
         src: url('../fonts/bellico/Bellico Demo Version.otf');
         }
 

 //Bunya-Personal
@font-face {
         font-family: "bunya-black";
         src: url('../fonts/bunya-personal/Bunya-Black_PERSONAL.ttf');
         }

 @font-face {
         font-family: "bunya-bold";
         src: url('../fonts/bunya-personal/Bunya-Bold_PERSONAL.ttf');
         }

@font-face {
         font-family: "bunya-light";
         src: url('../fonts/bunya-personal/Bunya-Light_PERSONAL.ttf');
         }

@font-face {
         font-family: "bunya-reguler";
         src: url('../fonts/bunya-personal/Bunya-Reguler_PERSONAL.ttf');
         }

@font-face {
         font-family: "bunya-thin";
         src: url('../fonts/bunya-personal/Bunya-Thin_PERSONAL.ttf');
         }


//texgyreadventor
@font-face {
         font-family: "texgyre-bold";
         src: url('../fonts/texgyreadventor/texgyreadventor-bold.otf');
         } 

@font-face {
         font-family: "texgyre-bolditalic";
         src: url('../fonts/texgyreadventor/texgyreadventor-bolditalic.otf');
         }

@font-face {
         font-family: "texgyre-italic";
         src: url('../fonts/texgyreadventor/texgyreadventor-italic.otf');
         }

@font-face {
         font-family: "texgyre-reguler";
         src: url('../fonts/texgyreadventor/texgyreadventor-regular.otf');
         }