@media (max-width: 1199px){
		.modal-biro{
			.modal-content{
				width: 900px;
			}
		}
}

@media (max-width: 991px){
	#kami{
	img{
		margin-bottom: 20px;
		width: 100%;
		height: 100%;
		float: none;
	}
}
	.navbar-brand{
		margin-left: 50px;
	}

	.navbar-nav{
		margin-right: 50px;
	}

		.modal-biro{
			.modal-content{
				width: 760px;
			}
		}

.bankdata-search{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	.input-group{
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  	}
  }

}

@media (max-width: 767px){
	.navbar-brand{
		margin: 0;
	}
	.navbar-nav{
	text-align: left;
	.nav-item{
		margin: 5px;
		padding: 10px;
		border-radius: 10px;
		color: $color2;
}
}

	.navbar-collapse{
	background-color: rgba(0,0,0,0.8);
}

#bankdata-header{
	.nav-item{
		color: $bd_color1;
	}
}



	.carousel{
	h1{		
			font-size: 55px;
			position: absolute;
			top: 200px;
		}

	p{		
			font-size: 60px;
			position: absolute;
			top: 260px;
		}

	.kenali{
		position: absolute;
		top: 360px;
	}
	button{
		padding: 20px;
		width: 250px;
		&:hover{
			cursor: pointer;
			background: $color2;
			color: white;
			width: 300px;
		}
	}
}

#kegiatan{
	.biro{
		@include grid(3, 2%);
		img{
			padding: 25px;
		}
	}
}

#hubungi{
	position: relative;
	width: 100%; 
	min-height: 1100px; 
	.sosmed{
		padding: 30px;
	}
}

#bankdata-header{
	.col-md-9{
		padding: 0 10px;
	}
}

.bankdata-search{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	.input-group{
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  	}
  }

#jelajahi{
	padding: 2% 2%;
	h4{
		line-height: 35px;
		font-size: 20px;
	}
}

		.modal-biro{
			.modal-content{
				width: 560px;
			}
		}

#kemahasiswaan{
	.card-text{
		margin-bottom: 50px;
	}
}

#pergerakan{
	.card-text{
		margin-bottom: 50px;
	}
}

}

@media (max-width: 575px) {
.navbar-nav{
	text-align: left;
	.nav-item{
		margin: 5px;
		padding: 10px;
		border-radius: 10px;
		color: $color2;
}
}

	.navbar-collapse{
	background-color: rgba(0,0,0,0.8);
}


#JeansCarousel{
	height: 600px;
}


	.carousel{
	h1{		
			font-size: 40px;
			position: absolute;
			top: 200px;
		}

	p{		
			font-size: 45px;
			position: absolute;
			top: 250px;
		}

	.kenali{
		position: absolute;
		top: 340px;
	}
	button{
		padding: 20px;
		width: 250px;
		&:hover{
			cursor: pointer;
			background: $color2;
			color: white;
			width: 300px;
		}
	}
}

#kegiatan{
	.biro{
		@include grid(2, 1%);
		img{
			padding: 25px;
		}
	}
}

#hubungi{
	position: relative;
	width: 100%; 
	min-height: 1100px; 
	.sosmed{
		padding: 30px;
	}
}

		.modal-biro{
			.modal-content{
				width: 400px;
			}
		}

#survey{
	.survey{
		border-right: none;
		margin-bottom: 30px;
}	
}


}

@media (max-width: 510px) {
	#bd_tentang{
	position: relative;
	max-height: 0px;
	min-height: 500px;
	overflow: hidden;
	.tentang-bd{
		position: relative;
		width: 100%;
		height: 100%;
		min-height: inherit;
		border-radius: 0px;
		background: rgba(0,0,0,0.8);
		margin: 0 auto;
		bottom: 0px;
	}
	.text{
		h5{
			color: $bd_color1;
			margin-bottom: 20px;
		}
		p{
			color: white;
		}
		position: relative;
		padding: 5% 5%;
		top: 0px;
	}
}

}

@media (max-width: 410px) {
	.carousel{
	h1{		
			font-size: 25px;
			position: absolute;
			top: 250px;
		}

	p{		
			font-size: 30px;
			position: absolute;
			top: 280px;
		}
		button{
		padding: 17px;
		width: 220px;
		&:hover{
			cursor: pointer;
			background: $color2;
			color: white;
			width: 250px;
		}
	}
	}

		.modal-biro{
			.modal-content{
				width: 300px;
			}
		}
}