@mixin bg-carousel{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+16,000000+51,2989d8+100,207cca+100&0.7+0,0.7+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 16%, rgba(0,0,0,0.7) 51%, rgba(32,124,202,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 16%,rgba(0,0,0,0.7) 51%,rgba(32,124,202,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 16%,rgba(0,0,0,0.7) 51%,rgba(32,124,202,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3207cca',GradientType=0 ); /* IE6-9 */
}

@keyframes bounce{
	0%{ top: -60px; }
	100%{ top: -80px; }
}

@mixin grid($cols, $mgn){
	float: left;
	margin-right: $mgn;
	margin-bottom: $mgn;
	width: ((100% - (($cols - 1) * $mgn)) / $cols );
	&:nth-child(#{$cols}n){
		margin-right: 0;
	}
}