.modal-biro{
	background: rgba(0,0,0,0.7);
	.modal-header{
		border: none;
		border-top-right-radius: 13px;
		border-top-left-radius: 13px;
		background: $color1;
		color: $color;
		font-family: $textbold; 
	}
	.modal-content{
		border: 2px solid $color1;
		// background: rgba(0,0,0,0.5);
		background: white;
		color: black;
		border-radius: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 1000px;
		table{
			width: 100%;
		}
		th{
			font-family: $textbold;
			padding: 10px;
		}
		tr:nth-child(2n+0){
			border-bottom: 1px solid $color1;
		}
		td{
			font-family: $text;
			padding: 10px;
		}
		h5{
			font-family: $textbold;
		}
	}
}

.btn-modal{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-family: $textbold;
	color: $color1;
	background: transparentize($color1, 0.5);
	border: 2px solid $color1;
	border-radius: 50px;
	width: 100px;
	margin: 0 auto;
	transition: 0.5s;
	&:hover{
		cursor: pointer;
		color: $color;
		width: 120px;
		background: $color1;
	}
}