/* Shim for extending Bootstrap classes, should not be needed in RL adaptations */
@mixin column-base() {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 575px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Mixins */
// Mixin to set the size of the carousel slides at each breakpoint
@mixin set-multi-carousel-size( $on-mobile, $on-tablet, $on-desktop ) {
  .carousel-item > .carousel-item_inner {
    @include column-base();
    @extend .col-#{ $on-mobile };
    @extend .col-md-#{ $on-tablet };
    @extend .col-lg-#{ $on-desktop };
  }
}
// Mixin to set how fast the carousel goes through slides
@mixin set-multi-carousel-speed( $on-mobile, $on-tablet, $on-desktop ) {
  $offset-mobile-positive: percentage($on-mobile/12);
  $offset-mobile-negative: (-1 * $offset-mobile-positive);

  $offset-tablet-positive: percentage($on-tablet/12);
  $offset-tablet-negative: (-1 * $offset-tablet-positive);

  $offset-desktop-positive: percentage($on-desktop/12);
  $offset-desktop-negative: (-1 * $offset-desktop-positive);
  
  // Mobile Carousel Transforms
  .carousel-item {
    &.carousel-item-right.active, &.carousel-item-next {
      transform: translateX($offset-mobile-positive);
    }

    &.carousel-item-left.active, &.carousel-item-prev {
      transform: translateX($offset-mobile-negative);
    }

    &.carousel-item-right, &.carousel-item-left {
      transform: translateX(0);
    }
  }

  @media (min-width: 768px) {
    // Tablet Carousel Transforms
    .carousel-item {
      &.carousel-item-right.active, &.carousel-item-next {
        transform: translateX($offset-tablet-positive);
      }

      &.carousel-item-left.active, &.carousel-item-prev {
        transform: translateX($offset-tablet-negative);
      }

      &.carousel-item-right, &.carousel-item-left {
        transform: translateX(0);
      }
    }
  }

  @media (min-width: 992px) {
    // Desktop Carousel Transforms
    .carousel-item {
      &.carousel-item-right.active, &.carousel-item-next {
        transform: translateX($offset-desktop-positive);
      }

      &.carousel-item-left.active, &.carousel-item-prev {
        transform: translateX($offset-desktop-negative);
      }

      &.carousel-item-right, &.carousel-item-left {
        transform: translateX(0);
      }
    }
  }
}
// Mixin to set base multi-carousel styles
@mixin create-multi-carousel-base() {
  .carousel-item {
    &.active,
    &.carousel-item-next,
    &.carousel-item-prev {
      display: flex;
    }
  }
};

/** 
 ** Initialize a Multi-Carousel
**/
.jeans-carousel {
  @include create-multi-carousel-base();
  @include set-multi-carousel-speed( 12, 6, 3 );
  @include set-multi-carousel-size( 12, 6, 3 );
}

/* Extra aesthetic styling */
// These aren't necessary for Multi-Carousel to work
// You may want to change the base color of the controls though
.jeans-carousel {
  // height: 10vw;
  margin: 0 auto;
  width: 75vw;

  .carousel-inner {
    // border: 1px dashed #CCC;
    height: inherit;
  }

  .carousel-item {
    &.active, &.carousel-item-next, &.carousel-item-prev {
      height: inherit;
    }
  }

  .carousel-item_inner {
    height: inherit;
  }

  .carousel-item_content {
    color: #CCC;
    display: table;
    height: 100%;
    width: 100%;

    > * {
      display: table-cell;
      text-align: center;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    /* Carousel Controls */
    opacity: 1 !important;

    &:hover {
      .carousel-item_icon {
        color: #666;
      }
    }
  }

  .carousel-control-prev {
    left: -15%;
  }

  .carousel-control-next {
    right: -15%;
  }

  .carousel-item_icon {
    color: #BBB;
    cursor: pointer;
    font-size: 40px;
    transition: color 0.3s ease;
  }
}

.title {
	font-family: $textbold;
	margin-bottom: 40px;
  color: $color1;
  text-align: center;
}