ul.pagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  ul.pagination li {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    background: #E6E7E8;
    padding: 18px;
    line-height: 0;
}

ul.pagination li a {
  color: black;
  transition: 0.2s;
}

ul.pagination li.active {
    /*background-color: #4CAF50;*/
    background-color: black;
    color: orange;
}

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {color: orange;}

ul.pagination li.disabled {
    /*background-color: #cccccc;*/
    color: #D2D3D5;
}