@import "fonts";
@import "variable";
@import "mixin";
@import "animate";
@import "multicarousel";
@import "berita";
@import "modal-biro";
@import "bankdata";
@import "bankdata-index";
@import "pagination";

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: $color1;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color1;
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    margin: 0 auto;
}

.navbar-brand{
	margin-left: 100px;
	img{
			height: 50px;
			top: 50%;
			transform: translateX(-50%);
	}
}

.navbar-nav{
	margin-right: 100px;
	text-align: center;
	.nav-item{
		width: 100px;
		color: $color2;
		a{
			color: white;
			text-decoration: none;
			transition: 0.2s;
		&:hover{
			color: $color2;
	}
	}
}
}

.navbar{
	height: 80px;
	transition: height 0.5s;
}

.shrink{
	background: black;
	height: 60px;
	.navbar-collapse{
	background-color: rgba(0,0,0,0.9);
}

}

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel{
	height: 660px;
	position: relative;

	.bg-carousel{
		background: rgba(0,0,0,0.6);
		@include bg-carousel;
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	h1{		
			font-family: $textbold;
			font-size: 60px;
			color: $color2;
			position: absolute;
			width: 100%;
			text-align: center;
			top: 200px;
		}

	p{		
			font-family: $textbold;
			font-size: 80px;
			color: $color2;
			position: absolute;
			width: 100%;
			text-align: center;
			top: 250px;
		}

	img{
		width: 100%;
		height: inherit;
	}

	.kenali{
		color: $color2;
		z-index: 3;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 370px;
	}
	button{
		padding: 20px;
		width: 250px;
		line-height: 0;
		border-radius: 50px;
		background: none;
		font-family: $textbold;
		color: $color2;
		border: 3px solid $color2;
		transition : 1s, width 0.4s;
		&:hover{
			cursor: pointer;
			background: $color2;
			color: white;
			width: 300px;
		}
	}
	i{
		animation: bounce 0.6s ease-in alternate infinite; 
	}
	.carousel-item{
	position: relative;
	height: 660px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

}

#tentang{
	padding-top: 50px;
}

.visi{
	margin: 40px 0;
	border: none;
	.card-header{
		background: none;
		font-family: $raitbetul;
		letter-spacing: 2px;
		padding: 0;
		margin-bottom: -20px;
		border: none;
	}
}

.misi{
	border: none;
	.card-header{
		background: none;
		font-family: $raitbetul;
		letter-spacing: 2px;
		padding: 0;
		margin-bottom: -20px;
		border: none;
	}
	li{
		margin-bottom: 20px;
		line-height: 1.5em;
	}
}

#kami{
	border: none;
	img{
		margin-right: 20px;
		width: 360px;
		float: left;
	}
	.card-header{
		color: $color2;
		padding: 0;
		font-family: $textbold;
		background: none;
		border-bottom: 4px solid $color2;
	}
}

#berita{
	border: none;
	.card-header{
		color: $color1;
		padding: 0;
		font-family: $textbold;
		background: none;
		border-bottom: 4px solid $color1;
	}
	.card-footer{
		background: none;
		a{
		font-family: $textbold;
		font-size: 18px;
		color: $color2;
		transition: 0.5s;
		&:hover{
			text-decoration: none;
			color: $color1;
		}
	}
	}
}

#filosofi{
	position: relative;
	border: none;
	margin-top: 30px;
	.card-header{
		width: 200px;
		text-align: center;
		border: none;
		position: absolute;
		padding: 5px;
		font-family: $textbold;
		background: $color1;
		color: $color;
		margin: auto;
		top: -10px;
		border-radius: 50px;
	}
}

#konten{
	border: none;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	&:nth-child(1){
	margin-top: 0px;
	}
	img{
		width: 100%;
		height: 250px;
	}
	.card-date{
		position: absolute;
		top: 180px;
		font-family: $text;
		font-size: 12px;
		padding: 3px 10px;
		color: white;
		background: $color2;
	}
	.card-title{
		position: absolute;
		top: 204px;
		font-family: $textbold;
		width: 100%;
		height: 50px;
		overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
		padding: 10px 4px;
		background: rgba(255,255,255,0.7);
	}
	.card-text{
		font-size: 14px;
		height: 105px;
		overflow: hidden; 
		text-overflow: hidden;
	}
	a{
		color: $color1;
		transition: 0.5s;
		font-family: $textbold;
	&:hover{
		text-decoration: none;
		color: $color2;
	}
	}
}

#program{
	margin: 50px 0;
}
.program{
		border: none;
		margin: 0 30px;
		img{
			height: 165px;
			width: 165px;
		}
		.card-title, .card-text{
			color: black;
		}
		.card-title{
			margin-top: 10px;
			font-family: $textbold;
			font-size: 17px;
		}
		.card-text{
			position: relative;
			top: 0px;
			font-family: $text;
			font-size: 12px;
		}
	}

#struktur{
	margin-bottom: 1px;
	.card{
		border: none;
	}
	.container-fluid{
		padding: 0;
	}
	.card-header{
		position: relative;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
		width: 300px;
		border-radius: 50px;
		background: $color2;
		color: white;
		h4{
			font-family: $textbold;
		}
	}
	.card-body{
		padding: 0;
		overflow: auto;
	}
	.card-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

.card-body::-webkit-scrollbar
{
	height: 10px;
	background-color: none;
}

.card-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color1;
}
	img{
		width: 100%;
		min-width: 1200px;
		height: 660px;
		overflow: auto;
	}
}

#kegiatan{
	width: 100%;
	margin: -1px;
	.col-lg-4{
		background: #f9f9f9;
		box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.2);
	}
	.kegiatan{
		border: none;
	.card-header{
		padding-top: 50px;
		color: $color2;
		text-align: center;
		background: #f9f9f9;
		border-bottom: 4px solid $color2;
	}
	.card-body{
		background: #f9f9f9;
	}
	}
	.kementrian{
	.card-header{
		margin-top: 50px;
		color: $color1;
		padding: 5px;
		font-family: $textbold;
		text-align: center;
		background: none;
		border-bottom: 4px solid $color1;
	}
	}
	.biro{
		border: none;
		@include grid(4, 3%);
		margin-bottom: 30px;		
		.card-title, .card-text{
			text-align: center;
		}
		.card-title{
			margin-top: -20px;
			font-family: $textbold;
			font-size: 17px;
			min-height: 70px;
		}
		.card-footer{
			background: none;
		}
		img{
			transform: scale(0.8);
		}
	}
}


#portal-data{
	margin-top: 1px; 
	padding: 2% 10%;
	background: black;
	.card{
		background: black;
		border: none;
	}
	img{
		float: right;
		width: 120px;
	}
	h4{
		color: $color2;
		font-family: $textbold;
	}
	p{
		font-family: $text;
		color: $color;
		font-size: 16px;
	}
	a{
		margin-top: -5px;
	}
	.btn-data{
		font-family: $textbold;
		border-radius: 50px;
		border: 2px solid $color2;
		background: transparentize($color2, 0.9);
		color: $color2;
		width: 120px;
		transition: 0.3s;
		&:hover{
			width: 140px;
			color: $color;
			background: $color2;
		}
	}
}

#hubungi{
	position: relative;
	width: 100%; 
	min-height: 550px; 
	background-size: cover; 
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	.bg-hub{
		position: relative;
		background: rgba(0,0,0,0.8);
		min-height: inherit;
		width: 100%;
		overflow: hidden; 
	}
	.hubungi{
		padding: 50px;
	}
	h4{
		font-family: $textbold;
		text-align: center;
		color: white;
	}
	form{
		color: $color;
	}
	button{
		float: right;
	}
	.btn-primer{
		width: 25%;
		padding: 10px;
		background: $color2;
		color: $color;
		transition: 0.5s;
		&:hover{
			cursor: pointer;
			background-color: $color1;
		}
	}
	.sosmed{
		padding-right: 30px;
		padding-top: 50px;
	}
	.alamat{
		margin-bottom: -10px;
		color: $color;
		.col-11{
			margin-left: -7px;
		}
		p{
			margin-top: 5px;
		}
	}
}

.media{
		ul{
			list-style-type: none;
			margin-top: 30px;
			margin-left: -40px;
		}
		li{
			display: inline-block;
			margin-right: 10px; 
		}
		i{
			transform: scale(1.5);
		}
		.fb{
			padding: 10px;
			width: 40px;
			line-height: 0;
			border-radius: 5px;
			background: rgba(0,0,0,0.5);
			color: #3b5998;
			text-align: center;
			vertical-align: middle;
			transition: 0.5s;
			&:hover{
				background: #3b5998;
				color: white;
			}
		}
		.tw{
			padding: 10px;
			width: 40px;
			line-height: 0;
			border-radius: 5px;
			background: rgba(0,0,0,0.5);
			color: #1dcaff;
			text-align: center;
			vertical-align: middle;
			transition: 0.5s;
			&:hover{
				background: #1dcaff;
				color: white;
			}
		}
		.ig{
			padding: 10px;
			width: 40px;
			line-height: 0;
			border-radius: 5px;
			background: rgba(0,0,0,0.5);
			color: #8a3ab9;
			text-align: center;
			vertical-align: middle;
			transition: 0.5s;
			&:hover{
				background: #8a3ab9;
				color: white;
			}
		}
		.yt{
			padding: 10px;
			width: 40px;
			line-height: 0;
			border-radius: 5px;
			background: rgba(0,0,0,0.5);
			color: #cc181e;
			text-align: center;
			vertical-align: middle;
			transition: 0.5s;
			&:hover{
				background: #cc181e;
				color: white;
			}
		}
	}


.logo-foot{
	position: absolute;
	left: 10px;
	bottom: 10px;
	img{
		width: 25%;
	}
}

// .logo-footer{
// 	position: absolute;
// 	display: block;
// 	width: 100%;
// 	right: 100px;
// 	bottom: 10px;
// 	img{
// 		width: 10%;
// 	}
// }

.footer{
	padding: 5px;
	background: black;
	overflow-x: hidden;
	p{
		float: right;
		margin: 1%;
	}
}

.scrollUp{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	padding: 12px;
	border-radius: 20px;
	line-height: 0;
	background: $color1;
	color: $color;
	i{
		transform: translateY(-2px);
	}
}

.kritik-popup{
	.modal-content{
		top: 30px;
		border: 3px solid $color2;
		border-radius: 100px;
		background-color: rgba(0,0,0,0.6);
		color: $color2;
	}
	.modal-body{
		font-family: $raitbold;
		text-align: center;
	}
}

@import "media";