
// FONT ///////////////////////////////////////////////////////////////////
$raitbetul: bellico;

$raitbold : bunya-bold;
$raitblack : bunya-black;
$raitlight : bunya-light;
$raitbiasa : bunya-reguler;
$raittipis : bunya-thin;

$textbold : texgyre-bold;
$textbitalic : texgyre-bolditalic;
$textitalic: texgyre-italic;
$text: texgyre-reguler;

// COLOR //////////////////////////////////////////////////////////////////

$color1: #0050AC; 
$color2: #F57E16;
$color3: #7FA7D5;
$color4: #FBB87E;
//abu-abu
$color5: #F5F6F6;
$color: white;


//bank data
$bd_color1: #EF8036;
$bd_color2: #365B74;
$bd_color3: #E8F3F7;
$bd_color4: #263C4E;
$bd_color5: #DA6F39;